# APP_SETTINGS
APP_LISTEN_HOST=0.0.0.0
APP_LISTEN_PORT=3000

# DB_SETTINGS
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cv_catalog_db
DB_HOST=postgres
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
